@use '../scss/' as *;

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.quote {
  display: flex;
  flex-direction: column;
}