.flex {
  display: flex;
  gap: var(--space-6);
  align-items: center;
}

.flex-col {
  @extend .flex;
  flex-direction: column;

}

.flex-row {
  @extend .flex;
  flex-direction: row;
}

.fill-width {
  justify-content: space-between;
  width: 100%;
}