body {
  overflow: hidden;
  user-select: none;
}

main {
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  padding: var(--space-md);
}

main[data-show] {
  animation: slide-up-enter var(--anim-speed) ease forwards;
}
