.focused-state {
  background: transparent;
  outline: none;
}

input[type='text'] {
  background: transparent;
  border: none;
  width: 100%;

  &.colored {
    text-align: left;
    &:focus {
      @extend .focused-state;
    }
  }

  &.transparent {
    border-bottom: 2px solid white;
    &:focus {
      @extend .focused-state;
    }
  }
}
