.modal {
  border: 0;
  padding: var(--space-4);
  user-select: none;

  &.colored {
    background-color: rgba(15, 15, 15, 0.925);
    border-radius: 16px;
  }

  &.transparent {
    background-color: transparent;
  }
}

.modal::backdrop {
  background-color: transparent;
}

.modal[open] {
  animation: slide-up-enter var(--anim-speed) ease forwards;
}

.modal[closing] {
  display: block;
  inset: 0;
  pointer-events: none;
  animation: slide-up-exit var(--anim-speed) ease forwards;
}

.modal-header {
  justify-content: space-between;
}
