body * {
  font-family: 'Heebo', sans-serif;
  color: white;
  text-align: center;
}

h1 {
  color: rgba(255, 255, 255, 0.25);
  font-weight: 700;
}

$elements: (
  'h1': var(--h1),
  'h2': var(--h2),
  'h3': var(--h3),
  'h4': var(--h4),
  'h5': var(--h5),
  'h6': var(--h6),
  'p': var(--p),
  'button': var(--h6),
  "input[type='text'].colored": var(--p),
  "input[type='text'].transparent": var(--h4),
);

@each $name, $value in $elements {
  #{$name} {
    font-size: $value;
  }
}