:root {
  --h1: 6rem;
  --h2: 3rem;
  --h3: 2rem;
  --h4: 1.75rem;
  --h5: 1.3rem;
  --h6: 0.8rem;
  --p: 1rem;

  --space-unit: 1rem;
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-df: calc(1 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(1.5 * var(--space-unit));
  --space-xlg: calc(2 * var(--space-unit));

  // TODO: Set default value 1.5s
  --anim-speed: 0s;
  // --anim-speed: 1.5s;
}
